@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import 'transitions.css';
@import 'tooltip.css';
@import 'buttons.css';
@import 'inputs.css';
@import 'errors.css';

@font-face {
    font-family: RobotoRegular;
    src: url("Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: RobotoBold;
    src: url("Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: RobotoLight;
    src: url("Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: RobotoMedium;
    src: url("Roboto-Medium.ttf") format("truetype");
}

body {
    font-family: 'Open Sans';
    background: #ece6d9;
}

h1 {
    font-family: RobotoBold;
    letter-spacing: 4px;
}

h2 {
    font-family: RobotoMedium;
    letter-spacing: 2px;
}
