.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-family: RobotoMedium;
    font-size: smaller;
    opacity: .7;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
