.switch-enter-from,
.switch-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.switch-enter-active {
    transition: all 1s ease;
}

.switch-leave-active {
    transition: all .5s ease;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.drop-in-enter-active,
.drop-in-leave-active {
    transition: all 0.3s ease-out;
}

.drop-in-enter-from,
.drop-in-leave-to {
    opacity: 0;
    transform: translate(0, -50px);
}
